.Note{
    background-color: yellow;
    max-width: fit-content;
}
.inputdata{
    border: 2px solid black;
    width: 75%;
}
.principalparticulars,.coefficients{
    width: 45%;
    margin-bottom: 15px;
}
.Appandages{
    margin-left:50%;
    margin-top: -650px;
    margin-bottom: 30px;
    width: 55%;
}
.principalparticulars, .coefficients,.appandages{
    border: 1px solid blue;
}
table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    width: fit-content;
    text-align: center;
}
table{
    width: 20%;
    margin-right: 3%;
    margin-top: -500px;
    float: right;
}
th,td{
    height: 30px;
}
